/*
========================================================================================
    GATK Variant Calling Pipeline - Nextflow Config
========================================================================================
*/
singularity.pullTimeout = '4d'

params {
    // Trace
    trace_report_suffix = new java.util.Date().format('yyyy-MM-dd_HH-mm-ss')

    // Input/output options
    input = null
    outdir = "results"
    variant_caller = "gatk" // Options: "gatk", "freebayes"
    preprocessor = 'gatk'

    // SnpEff annotation options
    snpeff_genome = 'GRCh38.mane.1.0.refseq'
    // Help
    help = false
}

includeConfig 'conf/igenomes.config'
includeConfig 'conf/base.config'
includeConfig 'conf/modules.config'

// Execution profiles
profiles {
    docker {
        docker.enabled = true
        singularity.enabled = false
        podman.enabled = false
        shifter.enabled = false
        charliecloud.enabled = false
    }

    singularity {
        singularity.enabled = true
        singularity.autoMounts = true
        docker.enabled = false
        podman.enabled = false
        shifter.enabled = false
        charliecloud.enabled = false
    }
    test {
        process {
            resourceLimits = [cpus: 4, memory: '15.GB', time: '2.h']
        }
        params.input = 'assets/samplesheet.csv'
        params.genome = 'sarek_test'
    }
}


// Manifest
timeline {
    enabled = true
    file = "${params.outdir}/pipeline_info/execution_timeline_${params.trace_report_suffix}.html"
}
report {
    enabled = true
    file = "${params.outdir}/pipeline_info/execution_report_${params.trace_report_suffix}.html"
}
trace {
    enabled = true
    file = "${params.outdir}/pipeline_info/execution_trace_${params.trace_report_suffix}.txt"
}
