/*
========================================================================================
    GATK Variant Calling Pipeline - Nextflow Config
========================================================================================
*/
singularity.pullTimeout = '4d'
// Global default params
params.max_cpus = 32
params.max_memory = '64.GB'

params {
    // Trace
    trace_report_suffix = new java.util.Date().format( 'yyyy-MM-dd_HH-mm-ss')

    // Input/output options
    input              = 'assets/samplesheet.csv'
    outdir             = 'results_nextflow'
    variant_caller     = 'freebayes'  // Options: 'freebayes' (default), 'gatk4'
    
    // Direct input parameters (alternative to samplesheet)
    sample             = 'sample1'
    fastq_r1           = null
    fastq_r2           = null
    
    // Publishing options
    publish_dir_mode   = 'copy'          // Options: 'symlink', 'copy', 'link'
    save_trimmed       = false           // Save trimmed FASTQ files
    save_align_intermediates = false     // Save intermediate BAM files (aligned, sorted)
    save_intermediates = false           // Save intermediate variant files (selected SNPs/INDELs before filtering)
    genome             = 'sarek_test'  // Options: GRCh38, GRCh37, etc.
    save_reference     = false     // Set to true to save fetched references to outdir/reference/ for reuse
    
    // SnpEff annotation options
    snpeff_genome      = 'GRCh38.mane.1.0.refseq'
    // Help
    help               = false
}

includeConfig 'conf/igenomes.config'
includeConfig 'conf/base.config'
includeConfig 'conf/modules.config'

// Execution profiles
profiles {
    standard {
        process.executor = 'slurm'
    }
    
    docker {
        docker.enabled         = true
        docker.userEmulation   = true
        singularity.enabled    = false
        podman.enabled         = false
        shifter.enabled        = false
        charliecloud.enabled   = false
    }
    
    singularity {
        singularity.enabled    = true
        singularity.autoMounts = true
        docker.enabled         = false
        podman.enabled         = false
        shifter.enabled        = false
        charliecloud.enabled   = false
    }
    
    conda {
        // Use conda/pixi environment (no containers)
        // Tools available from pixi environment
        docker.enabled         = false
        singularity.enabled    = false
    }
    test {
        process {
            resourceLimits = [
                cpus: 4,
                memory: '15.GB',
                time: '2.h'
            ]
        }
        params.input = 'assets/samplesheet.csv'
        params.outdir = 'results_nextflow'
        params.genome = 'sarek_test'
    }
}


// Manifest
manifest {
    name            = 'GATK Variant Calling Pipeline'
    author          = 'Giang Nguyen'
    homePage        = 'https://github.com/nttg8100/variant-calling-gatk-pipeline-best-practice-from-scratch'
    description     = 'GATK best practices variant calling pipeline - Bash to Nextflow migration'
    mainScript      = 'main.nf'
    nextflowVersion = '!>=22.10.0'
    version         = '1.0.0'
}

timeline {
    enabled = true
    file    = "${params.outdir}/pipeline_info/execution_timeline_${params.trace_report_suffix}.html"
}
report {
    enabled = true
    file    = "${params.outdir}/pipeline_info/execution_report_${params.trace_report_suffix}.html"
}
trace {
    enabled = true
    file    = "${params.outdir}/pipeline_info/execution_trace_${params.trace_report_suffix}.txt"
}