/*
========================================================================================
    GATK Variant Calling Pipeline - Nextflow Config
========================================================================================
*/
singularity.pullTimeout = '4d'
// Global default params
params.max_cpus = 32
params.max_memory = '64.GB'

params {
    // Trace
    trace_report_suffix = new java.util.Date().format( 'yyyy-MM-dd_HH-mm-ss')

    // Input/output options
    input              = 'assets/samplesheet.csv'
    outdir             = 'results_nextflow'
    variant_caller     = 'freebayes'  // Options: 'freebayes' (default), 'gatk4'
    
    // Direct input parameters (alternative to samplesheet)
    sample             = 'sample1'
    fastq_r1           = null
    fastq_r2           = null
    
    // Publishing options
    publish_dir_mode   = 'copy'          // Options: 'symlink', 'copy', 'link'
    save_trimmed       = false           // Save trimmed FASTQ files
    save_align_intermediates = false     // Save intermediate BAM files (aligned, sorted)
    save_intermediates = false           // Save intermediate variant files (selected SNPs/INDELs before filtering)
    
    // Reference genome options
    // Option 1: Use local reference files (default)
    reference          = '../../reference/genome.fasta'
    dbsnp              = 'https://raw.githubusercontent.com/nf-core/test-datasets/modules/data/genomics/homo_sapiens/genome/vcf/dbsnp_146.hg38.vcf.gz'
    known_indels       = 'https://raw.githubusercontent.com/nf-core/test-datasets/modules/data/genomics/homo_sapiens/genome/vcf/mills_and_1000G.indels.vcf.gz'
    
    // Option 2: Use iGenomes S3 paths (Nextflow handles downloads automatically)
    // Set use_igenomes = true to use reference files from AWS iGenomes S3 bucket
    use_igenomes       = false
    igenomes_base      = 's3://ngi-igenomes/igenomes'
    genome             = 'GRCh38'  // Options: GRCh38, GRCh37, etc.
    save_reference     = false     // Set to true to save fetched references to outdir/reference/ for reuse
    
    // SnpEff annotation options
    snpeff_genome      = 'GRCh38.mane.1.0.refseq'
    
    // iGenomes reference paths configuration
    genomes = [
        'GRCh38': [
            fasta              : "${igenomes_base}/Homo_sapiens/GATK/GRCh38/Sequence/WholeGenomeFasta/Homo_sapiens_assembly38.fasta",
            fasta_fai          : "${igenomes_base}/Homo_sapiens/GATK/GRCh38/Sequence/WholeGenomeFasta/Homo_sapiens_assembly38.fasta.fai",
            dict               : "${igenomes_base}/Homo_sapiens/GATK/GRCh38/Sequence/WholeGenomeFasta/Homo_sapiens_assembly38.dict",
            bwa_index          : "${igenomes_base}/Homo_sapiens/GATK/GRCh38/Sequence/BWAmem2Index/",
            dbsnp              : "${igenomes_base}/Homo_sapiens/GATK/GRCh38/Annotation/GATKBundle/dbsnp_146.hg38.vcf.gz",
            dbsnp_tbi          : "${igenomes_base}/Homo_sapiens/GATK/GRCh38/Annotation/GATKBundle/dbsnp_146.hg38.vcf.gz.tbi",
            known_indels       : "${igenomes_base}/Homo_sapiens/GATK/GRCh38/Annotation/GATKBundle/Mills_and_1000G_gold_standard.indels.hg38.vcf.gz",
            known_indels_tbi   : "${igenomes_base}/Homo_sapiens/GATK/GRCh38/Annotation/GATKBundle/Mills_and_1000G_gold_standard.indels.hg38.vcf.gz.tbi",
            known_indels_beta  : "${igenomes_base}/Homo_sapiens/GATK/GRCh38/Annotation/GATKBundle/beta/Homo_sapiens_assembly38.known_indels.vcf.gz",
            known_indels_beta_tbi : "${igenomes_base}/Homo_sapiens/GATK/GRCh38/Annotation/GATKBundle/beta/Homo_sapiens_assembly38.known_indels.vcf.gz.tbi"
        ]
    ]
    
    // Help
    help               = false
}


// Load modules configuration
process {
    publishDir = [
        path: { "${params.outdir}/${task.process.toLowerCase()}" },
        mode: "symlink",
        enabled: true
    ]
}

// Process configuration
process {
    // Default settings
    shell = ['/bin/bash', '-euo', 'pipefail']
    
    // Error handling
    errorStrategy = { task.exitStatus in [143,137,104,134,139] ? 'retry' : 'finish' }
    maxRetries    = 1
    maxErrors     = '-1'
    
    // Process labels
    withLabel: process_low {
        cpus   = { check_max( 16 * task.attempt, 'cpus' ) }
        memory = { check_max( 32.GB * task.attempt, 'memory' ) }
        time   = { check_max( 8.h * task.attempt, 'time' ) }
    }
    
    withLabel: process_medium {
        cpus   = { check_max( 16 * task.attempt, 'cpus' ) }
        memory = { check_max( 32.GB * task.attempt, 'memory' ) }
        time   = { check_max( 8.h * task.attempt, 'time' ) }
    }
    
    withLabel: process_high {
        cpus   = { check_max( 32 * task.attempt, 'cpus' ) }
        memory = { check_max( 64.GB * task.attempt, 'memory' ) }
        time   = { check_max( 16.h * task.attempt, 'time' ) }
    }
}

// Execution profiles
profiles {
    standard {
        process.executor = 'slurm'
    }
    
    docker {
        docker.enabled         = true
        docker.userEmulation   = true
        singularity.enabled    = false
        podman.enabled         = false
        shifter.enabled        = false
        charliecloud.enabled   = false
    }
    
    singularity {
        singularity.enabled    = true
        singularity.autoMounts = true
        docker.enabled         = false
        podman.enabled         = false
        shifter.enabled        = false
        charliecloud.enabled   = false
    }
    
    conda {
        // Use conda/pixi environment (no containers)
        // Tools available from pixi environment
        docker.enabled         = false
        singularity.enabled    = false
    }
}


// Manifest
manifest {
    name            = 'GATK Variant Calling Pipeline'
    author          = 'Giang Nguyen'
    homePage        = 'https://github.com/nttg8100/variant-calling-gatk-pipeline-best-practice-from-scratch'
    description     = 'GATK best practices variant calling pipeline - Bash to Nextflow migration'
    mainScript      = 'main.nf'
    nextflowVersion = '!>=22.10.0'
    version         = '1.0.0'
}

// Function to ensure that resource requirements don't go beyond maximum limit
def check_max(obj, type) {
    if (type == 'memory') {
        try {
            if (obj.compareTo(params.max_memory as nextflow.util.MemoryUnit) == 1)
                return params.max_memory as nextflow.util.MemoryUnit
            else
                return obj
        } catch (all) {
            println "WARNING: Max memory '${params.max_memory}' is not valid! Using default value: $obj"
            return obj
        }
    } else if (type == 'time') {
        try {
            if (obj.compareTo(params.max_time as nextflow.util.Duration) == 1)
                return params.max_time as nextflow.util.Duration
            else
                return obj
        } catch (all) {
            println "WARNING: Max time '${params.max_time}' is not valid! Using default value: $obj"
            return obj
        }
    } else if (type == 'cpus') {
        try {
            return Math.min( obj, params.max_cpus as int )
        } catch (all) {
            println "WARNING: Max cpus '${params.max_cpus}' is not valid! Using default value: $obj"
            return obj
        }
    }
}

timeline {
    enabled = true
    file    = "${params.outdir}/pipeline_info/execution_timeline_${params.trace_report_suffix}.html"
}
report {
    enabled = true
    file    = "${params.outdir}/pipeline_info/execution_report_${params.trace_report_suffix}.html"
}
trace {
    enabled = true
    file    = "${params.outdir}/pipeline_info/execution_trace_${params.trace_report_suffix}.txt"
}